In [1]:
import numpy as np
import pandas as pd
pi = np.pi 
cos = np.cos 
sin = np.sin
acos = np.arccos

In [2]:
CATALOGUE = pd.read_csv("Modified Star Catalogue.csv")
#StarID: The database primary key from a larger "master database" of stars
#Mag: The star's apparent visual magnitude
#RA, Dec: The star's right ascension and declination, for epoch 2000.0 (Unit - degrees)

In [3]:
CATALOGUE.sort_values('Mag', inplace=True)

In [5]:
CATALOGUE.head(10)

   StarID         RA        Dec   Mag
0   23440   6.752569 -16.713143 -1.44
1   21936   6.399192 -52.695718 -0.62
2   50628  14.261208  19.187270 -0.05
3   51926  14.661361 -60.835147 -0.01
4   65795  18.615607  38.782993  0.03
5   17425   5.278138  45.999029  0.08
6   17301   5.242298  -8.201639  0.18
7   27267   7.655149   5.227508  0.40
9   19984   5.919525   7.407036  0.45
8    5297   1.628542 -57.236660  0.45

In [6]:
OB_CATALOGUE = pd.DataFrame(columns = ['Star_ID1','RA_1', 'Dec_1', 'Mag_1', 'Star_ID2', 'RA_2', 'Dec_2', 'Mag_2'])

OB_CATALOGUE.head()

Empty DataFrame
Columns: [Star_ID1, RA_1, Dec_1, Mag_1, Star_ID2, RA_2, Dec_2, Mag_2]
Index: []

# CATALOGUE GETTING GENERATED!
# PLEASE DON'T STOP

In [26]:
size, total_size = 1, 5068
row_count = 0
start = 0
n = 1
step = size/n
for k in range(n):
    k = k + 1
    end = int(step*k)
    for i in range(start, end):
        for j in range(i, total_size):
            if j != i:
                s1, r1, d1, m1 = CATALOGUE.iloc[i]
                s2, r2, d2, m2 = CATALOGUE.iloc[j]
                OB_CATALOGUE.loc[row_count] = [s1] +  [r1] + [d1] + [m1] + [s2] + [r2] + [d2] + [m2]
                row_count = row_count + 1
    start = end
    print('Percentage Done: ' + str(float(k*100)/n))
    
OB_CATALOGUE['Ang_Distance'] = OB_CATALOGUE.apply(angularDistance, axis = 1)

OB_CATALOGUE.to_csv('Processed_Catalogue.csv')

Percentage Done: 100.0

# CATALOGUE GETTING GENERATED!
# PLEASE DON'T STOP

In [27]:
OB_CATALOGUE.describe()

,Star_ID1,RA_1,Dec_1,Mag_1,Star_ID2,RA_2,Dec_2,Mag_2,Ang_Distance
count,5067.0,5.067000e+03,5.067000e+03,5.067000e+03,5067.000000,5067.000000,5067.000000,5067.000000,5067.000000
mean,23440.0,6.752569e+00,-1.671314e+01,-1.440000e+00,42463.819814,11.917533,-2.455083,5.125232,89.981014
std,0.0,3.197758e-13,1.250679e-12,1.487846e-13,24591.604988,6.778313,40.454319,0.865316,44.978713
min,23440.0,6.752569e+00,-1.671314e+01,-1.440000e+00,64.000000,0.017944,-88.956511,-0.620000,1.407009
25%,23440.0,6.752569e+00,-1.671314e+01,-1.440000e+00,20832.500000,6.117643,-36.490518,4.790000,49.447438
50%,23440.0,6.752569e+00,-1.671314e+01,-1.440000e+00,42076.000000,11.616889,-3.074077,5.390000,89.659279
75%,23440.0,6.752569e+00,-1.671314e+01,-1.440000e+00,63535.500000,17.937997,29.412232,5.740000,130.008640
max,23440.0,6.752569e+00,-1.671314e+01,-1.440000e+00,87404.000000,23.998586,89.264138,6.000000,179.812106